body {
    background: #F5F5F5;
}


/* 顶部导航 */

#NavFirst {
    height: 26px;
    border-bottom: 1px solid #cecece;
    background: #f2f2f2;
    font-size: 14px;
}

#NavFirst a {
    color: #999999;
    line-height: 26px;
    font-size: 14px;
}

#NavFirst #Nf-l a:hover,
#NavFirst .Nfr1:hover .Nfr1-1 a,
#NavFirst .Nfr3:hover .Nfr3-1 a,
#NavFirst .Nfr6:hover .Nfr6-1 a,
#NavFirst .Nfr5:hover a,
#NavFirst .Nfr2:hover a,
#NavFirst .Nf0 a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 54);
}

.noline {
    color: rgb(255, 0, 54);
    text-decoration: none !important;
}

#Nf-wrap {
    width: 990px;
    margin: 0 auto;
    display: flex;
    height: 26px;
    line-height: 26px;
    color: #999999;
    justify-content: space-between;
    /* background: orange; */
}

#Nf-l,
#Nf-r {
    display: flex;
    position: relative;
}

.Nf0 {
    z-index: 999999;
    position: absolute;
    display: none;
    border: 1px solid #cecece;
    border-top: none;
    background-color: rgb(253, 252, 252);
    top: 27px;
    padding: 8px 10px;
}

#Nf-r .Nf0 a {
    display: block;
    color: #000;
}

#Nf-l .icon-plane-o,
#Nf-r .icon-gouwuche {
    color: #FF0036;
    font-size: 12px;
}


/* 顶部导航左侧 */

#Nf-l p {
    display: inline-block;
}

#Nf-l {
    text-align: left;
}

#Nf-l .icon-plane-o {
    margin-right: 4px;
}

#Nf-l p:first-child {
    margin-right: 20px;
}

#Nf-l p:first-child a {
    margin-left: -8px;
}

#Nf-l p:last-child {
    margin: 0 10px 0 20px;
}


/* 顶部导航右侧 */

#Nf-r ul li {
    position: relative;
    display: block;
    float: left;
}

#Nf-r .jiao {
    display: block;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0px;
    height: 0px;
    border: 4px solid #cecece;
    border-color: #cecece transparent transparent transparent;
}

.Nfr1 .Nfr1-1 {
    width: 74px;
    padding-left: 14px;
}

.Nfr1 .Nfr1-2 {
    width: 96px;
    left: 0;
}

#Nf-r .Nfr1:hover .Nfr1-1,
.Nfr6:hover {
    background-color: #fff;
    width: 72px;
    height: 27px;
    text-indent: -1px;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

#Nf-r .Nfr1:hover .Nfr1-1 .jiao,
#Nf-r .Nfr3:hover .Nfr3-1 .jiao,
#Nf-r .Nfr6:hover .Nfr6-1 .jiao {
    transition: all 0.5s;
    transform-origin: center center;
    top: 7px;
    transform: rotateZ(180deg);
}

.Nfr2 {
    padding: 0 10px;
}

.Nfr3 {
    box-sizing: border-box;
    width: 72px;
    padding: 0px 14px 0px 10px;
}

.Nfr3 .Nfr3-2 {
    width: 84px;
    left: -1px;
}

.Nfr3:hover {
    background-color: #fff;
    width: 72px;
    text-indent: -1px;
    height: 27px;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.Nfr4 {
    position: relative;
    top: 6px;
    width: 0;
    line-height: 14px;
    height: 14px;
    border-left: 1px solid #cecece;
    margin: 0 2px 0 5px;
}

.Nfr5 {
    width: 56px;
    text-align: center;
}

.Nfr6 {
    box-sizing: border-box;
    width: 84px;
    padding: 0px 14px 0px 10px;
}

.Nfr6 .Nfr6-2 {
    width: 160px;
    right: -1px;
}

.Nfr6 .Nfr6-2 h3 {
    font-weight: 800;
    color: #666666;
}

.Nfr6 .Nfr6-2 div div {
    display: flex;
    flex-wrap: wrap;
}

.Nfr6 .Nfr6-2 div div span {
    display: inline-block;
    margin: 0 20px 0 0;
}

.Nfr6 .Nfr6-2-1 {
    border-bottom: 1px dotted #000000;
}

.Nfr6:hover {
    width: 84px;
}


/* header */

#header-wrap {
    background: #fff;
}

#header-box {
    width: 990px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 40px;
    padding: 45px 0 35px;
}

#head1,
#head2,
#head3 {
    height: 40px;
    float: left;
}

#head1 img {
    width: 116px;
    margin-right: 20px;
}

#head2 {
    width: 300px;
    display: flex;
    align-items: center;
}

#head3 {
    width: 440px;
    background: #7a45e5;
    float: right;
    position: relative;
}

#head3 input {
    position: absolute;
    width: 347px;
    height: 31px;
    top: 5px;
    left: 5px;
    background-color: #fff;
    color: black;
    text-indent: 5px;
}

#head3 div a {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 18px;
}

#head3 ul {
    z-index: 99999;
    width: 345px;
    border: 1px solid #cecece;
    position: absolute;
    display: none;
    top: 36px;
    left: 5px;
    background-color: #fff;
}

#head3 ul li {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    padding: 3px 0;
}

#head3 ul li:hover {
    background-color: #7a45e5;
    color: #fff;
    cursor: pointer;
}


/* 底部导航 */

#NavLast {
    background: #fff;
    border-bottom: 1px solid #7a45e5;
}

#NavLast-box {
    font-size: 14px;
    width: 1190px;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
}

#NavLast-box .Nl1 {
    float: left;
    width: 180px;
    height: 38px;
    font-size: 14px;
    color: #fff;
    padding-left: 20px;
    line-height: 38px;
    background: linear-gradient(to right, #7a45e5 20%, #b23cef 80%);
}

#Nl-l a {
    display: block;
    float: left;
    margin-right: 40px;
}

#Nl-l a:hover {
    color: #7a45e5;
}

#Nl-l .Nl2 {
    padding-left: 46px;
    color: #7a45e5;
    font-weight: bold;
}

#Nl-r {
    float: right;
    padding: 0 40px 0 46px;
}

#Nl-r a:hover {
    text-decoration: underline;
}


/* banner */

#banner-wrap {
    height: 420px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

#banner-box {
    height: 100%;
    width: 1190px;
    margin: 0 auto;
}

#banner-box>div {
    float: left;
}


/* banner左侧菜单 */

#banner1 {
    width: 200px;
    background: #333;
    color: #fff;
    position: relative;
}

#banner1 a {
    color: #fff;
}

#banner1 a:hover {
    text-decoration: underline;
}

#banner1 .b11 a:hover {
    color: #EE5153 !important;
}

#banner1 .line {
    width: 3px;
    display: block;
    position: absolute;
    left: 0px;
    top: -1px;
    height: 106px;
    display: none;
}

#banner1 .b1-1 .line {
    background-color: #E52549;
}

#banner1 .b1-2 .line {
    background-color: #85CD53;
}

#banner1 .b1-3 .line {
    background-color: #f14f4f;
}

#banner1 .b1-4 .line {
    background-color: #5194FD;
}

#banner1 .B1 {
    position: relative;
    height: 105px;
    padding: 0 20px;
}

#banner1 .b1-2 .b1-22 {
    top: -100px;
}

#banner1 .b1-3 .b1-33 {
    top: -200px;
}

#banner1 .b1-4 .b1-44 {
    top: -316px;
}

.hover1 {
    background-color: #7A45E5;
}

#banner1 .b-center {
    position: absolute;
    top: 30%;
    border-bottom: 1px dotted #545454;
}

#banner1 .b-center>div:nth-child(1) {
    display: flex;
    margin-bottom: 10px;
}

#banner1 .b-center>div:nth-child(1) .icon-xiangji {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 24px;
}

#banner1 .b-center>div:nth-child(1) h3 {
    height: 24px;
    line-height: 24px;
}

#banner1 .b-center>div:nth-child(2) span {
    margin: 0 -3px;
}

#banner1 .b-center>div:nth-child(2) {
    padding-bottom: 25px;
}

#banner1 .b1-4 .b-center {
    border-bottom: none;
}

#banner1 .b11 {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 999;
    min-height: 436px;
    width: 685px;
    background: rgb(252, 252, 252);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    padding: 30px 0 4px 30px;
}

#banner1 .b12 {
    display: block !important;
}

#banner1 .b11 .del {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    line-height: 18px;
    height: 18px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    opacity: .4;
}

#banner1 .b11 .b111 {
    display: inline-block;
    width: 313px;
    margin: 0 22px 26px 0;
    vertical-align: top
}

#banner1 .b11 .b111 h3 {
    font-size: 12px;
    color: #333333;
    margin-top: 2px;
}

#banner1 .b11 .b111 hr {
    margin: 10px 0;
    background-color: #333;
}

#banner1 .b11 .b111 .b1-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 0 7px 0 10px;
    color: #666666;
}


/* banner轮播图 */

#banner2 .swiper-container {
    width: 750px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
}

#banner2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#banner2 .swiper-slide img {
    width: 750px;
    height: 420px;
}

#banner2 .swiper-button-next {
    width: 34px;
    height: 60px;
    background: rgb(0, 0, 0);
    color: white;
    opacity: .3;
    transition: all .3s;
    right: -34px;
}

#banner2 .swiper-button-prev {
    width: 34px;
    height: 60px;
    color: white;
    opacity: .3;
    background: rgb(0, 0, 0);
    left: -34px;
    transition: all .3s;
}

#banner2 .swiper-container:hover .swiper-button-next {
    right: 0;
}

#banner2 .swiper-container:hover .swiper-button-prev {
    left: 0;
}

#banner2 .swiper-pagination {
    width: 182px;
    position: absolute;
    height: 16px;
    left: 542px;
    bottom: 24px;
}

.swiper-pagination-bullet-active {
    background: white;
}

.swiper-pagination .swiper-pagination-bullet {
    margin: 0 8px !important;
    position: relative;
}

.swiper-pagination .swiper-slide .swiper-pagination-bullet::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: royalblue;
    position: absolute;
    display: block;
    margin: 0 auto;
}


/* banner右侧广告 */

#banner3 {
    background: #fff;
    width: 240px;
    height: 100%;
}

#banner3 a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    overflow: hidden;
}

#banner3 a img {
    margin: 20px auto 0;
}

#banner3 a img:last-child {
    margin-top: 10px;
}

#banner3 h2 {
    color: #7A45E5;
    font-weight: 900;
}

#banner3 h2:first-child {
    margin-top: 30px;
}

#banner3 h2:nth-child(2) {
    margin-top: 10px;
}

#banner3 a h4 {
    margin: 10px 0 8px;
    color: #333333;
    font-weight: 800;
    font-size: 14px;
}

#banner3 a p {
    font-size: 12px;
    color: #A5A5A5;
}


/* content */

#con0 {
    margin-top: 40px;
}

#content .con-wrap {
    width: 1190px;
    margin: 0 auto;
}


/* 第一个全球精选 */

#con0 .con0-1 {
    height: 135px;
}

#con0 .con0-1 img {
    margin: 5px auto 30px;
}

#con0 .con0-1 a {
    text-align: center;
    display: block;
    margin: 48px auto 0;
    width: 142px;
    height: 36px;
    line-height: 35px;
    font-size: 16px;
    color: #7A45E5;
    font-weight: 800;
    border: 1px solid #7A45E5;
}


/* 第一全球选购内容 */

#con0 .con0-2 .con0-3 {
    background: #fff;
    width: 238px;
    border-left: 1px solid #ececec;
    float: left;
    display: block;
    box-sizing: border-box;
    padding-bottom: 10px;
}

#con0 .con0-3 .img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#con0 .con0-3 .img span {
    display: block;
    color: #fff;
    width: 64px;
    font-size: 16px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 2px;
    text-align: center;
    background: url(../img/jt.png) no-repeat;
}

#con0 .con0-3 .img span h2 {
    display: inline-block;
    font-size: 20px;
}

#con0 .con0-3 .img img {
    width: 237px;
    height: 237px;
}

#con0 .con0-3 .con {
    margin: 14px 0 0;
    padding: 0 10px;
}

#con0 .con0-3 .con p:first-of-type {
    color: #999999;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

#con0 .con0-3 .con h2 {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

#con0 .con0-3 .con p:last-of-type {
    margin-top: 10px;
    color: #666;
    height: 34px;
    font-size: 12px;
    overflow: hidden;
    line-height: 18px;
}

#con0 .con0-3 .price {
    margin-top: 14px;
    padding: 0 10px;
}

#con0 .con0-3 .price .pri1 {
    width: 130px;
    float: left;
}

#con0 .con0-3 .pri1 span:first-of-type {
    color: #dd2727;
    font-size: 14px;
    line-height: 20px;
}

#con0 .con0-3 .pri1 span:first-of-type b {
    font-size: 24px;
}

#con0 .con0-3 .pri1 span:last-of-type {
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
}

#con0 .con0-3 .pri1 p {
    color: #999;
    font-size: 12px;
}

#con0 .con0-3 .price a {
    height: 40px;
    display: inline-block;
    width: 84px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    background: #ffdadd;
    color: #f45;
    float: right;
}


/* 分类 */

.con11 .con1-con {
    height: 475px;
    overflow: hidden;
}

.con11 .img {
    display: block;
    width: 1190px;
    margin: 0 auto 0;
    height: 40px;
}

.con11 .img img {
    margin: 40px auto 0;
}

.con11 .con1-wrap {
    width: 1190px;
    margin: 0 auto;
    border-top: 1px solid #ed1957;
}

.con11 .con1-wrap>div {
    float: left;
}

.con11 .con1-wrap .con1-1 {
    padding: 15px 0 0 20px;
    width: 98px;
}

.con11 .con1-1 h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: #333;
}

.con11 .con1-1 li {
    margin-top: 20px;
    font-size: 12px;
    line-height: 100%;
}

.con11 .con1-2 {
    position: relative;
}

.con11 .con1-2 img {
    width: 192px;
    height: 474px;
}

.con11 .con1-2 .con1-txt {
    width: 100%;
    height: 98px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: rgba(237, 25, 87, 0.95);
}

.con11 .con1-2 .con1-txt h2 {
    margin-top: 26px;
    font-weight: 800;
    font-size: 20px;
}

.con11 .con1-2 .con1-txt p {
    display: inline-block;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 12px;
    line-height: 20px;
    width: 104px;
}


/* 楼梯导航 */

#stairs {
    z-index: 999999999;
    position: fixed;
    bottom: 100px;
    width: 40px;
    display: none;
    right: 0px;
    min-height: 80px;
}

#stairs #stairs1 {
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
}

#stairs #stairs1 li,
#stairs #stairs2 li {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 40px;
}

#stairs #stairs1 li .iconfont,
#stairs #stairs2 li .iconfont {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #999999;
    border: 1px solid #ddd;
    border-top: none;
}

#stairs #stairs1 li p,
#stairs #stairs2 li p {
    width: 38px;
    height: 33px;
    padding-top: 5px;
    border: 1px solid #5c2694;
    position: absolute;
    left: 40px;
    top: 0;
    color: #5c2694;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

#stairs #stairs2 li {
    border: none;
    margin-top: 2px;
    background: #BABABA;
}

#stairs #stairs2 li .iconfont {
    background: #BABABA;
    color: #ffffff;
}

#stairs #stairs2 li p {
    box-sizing: border-box;
    padding: 6px 0 0;
    height: 40px;
    border: none;
    background: #464646;
    color: #fff;
}