header {
    #head-box {
        padding: 22px 0px;
        height: 44px;
        width: 1190px;
        margin: auto;
        a {
            display: inline-block;
        }
        span {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin-left: 10px;
            img {
                position: relative;
                top: 14px;
                display: block;
                width: 176px;
                height: 16px;
            }
        }
    }
}

section {
    background-color: #7a32ed;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    .sec-con {
        position: absolute;
        top: 91px;
        right: 225px;
        background: #fff;
        display: block;
        height: 404px;
        .sec-box {
            box-sizing: border-box;
            width: 350px;
            min-height: 350px;
            padding: 25px 25px 23px;
            color: #6c6c6c;
            background: #fff;
            position: relative;
            margin: 0 auto;
            .choose {
                text-align: left;
                margin-bottom: 20px;
                margin-top: 4px;
                div.active {
                    border-bottom: 2px solid #000;
                }
                div {
                    cursor: pointer;
                    display: inline-block;
                    height: 18px;
                    line-height: 5px;
                    font-size: 16px;
                    color: #3c3c3c;
                    margin: 9px 10px 0 0;
                    font-weight: 700;
                }
            }
            .content {
                input {
                    width: 250px;
                    background: #fff;
                    border: 1px solid #ccc;
                    height: 42px;
                    margin-bottom: 20px;
                    outline: none;
                    font-size: 14px;
                    padding-left: 50px;
                }
                button {
                    display: block;
                    border: 1px solid #ff9000;
                    border-radius: 3px;
                    font-size: 16px;
                    height: 42px;
                    line-height: 42px;
                    outline: none;
                    color: #fff;
                    background: #f40;
                    width: 100%;
                    cursor: pointer;
                }
                .con-else {
                    margin: 16px 0 8px 0;
                    text-align: right;
                    a {
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

footer {
    .F-2 {
        width: 1190px;
        margin: 0 auto;
        padding: 26px 0;
        overflow: hidden;
        text-align: left;
        .F-2-wrap {
            position: relative;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            border-top: 1px #fff solid;
            ul {
                display: inline-block;
                margin-left: -4px;
                margin-top: 10px;
                margin-bottom: 5px;
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        font-size: 12px;
                        border-left: 1px solid #c0a6f2;
                        padding: 0 1px 0 4px;
                        line-height: 12px;
                        height: 12px;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
            p {
                a {
                    display: inline-block;
                    line-height: 12px;
                    height: 12px;
                    border-left: 1px solid #c0a6f2;
                    margin-left: 5px;
                    padding-left: 5px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}